<h3>Create Your Custom Trip </h3>
{{!-- <p>Every travel tale has something special, this is why we invite you all to share yours with us. 
    We’d be more than happy to hear your travelling experiences of India and what
     in the country triggers your wanderlust or touched your heart the most while exploring. 
     Let us together create a section where inspiration to travel overflows and cordial bonds are created to be cherished forever. 
     This is your space to speak your mind about travel and make the most of it.</p> --}}
<div class="row">
    <form action="/trip" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title for Your Trip</label>
            </div>
        </div>

       

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                  
                    <option value="private">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
    <form action="/trip" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Enter Place 1 : </label>
            </div>
        </div>

       <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Enter Place 2 : </label>
            </div>
        </div>

               <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Enter Place 3 : </label>
            </div>
        </div>
        


 


   
            
        </div>

         <div>
    <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>

 </div>  
    </form>
</div>



