<div class="fixed-action-btn">
    <a href="/stories/add" class="btn-floating btn-large waves-effect waves-light black"><i class="fas fa-check"></i></a>
    
    <a href="/trip/add" class="btn-floating btn-large waves-effect waves-light black"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></a>
    
</div>