<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css"> 
	

	<title>Destination</title>
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

	<link rel="stylesheet" href="/css/style.css"> 


	
	
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
	
	header{
    padding:2rem;
  }
	header{
  position: fixed;
  top:0; left: 0; right:0;
  background:#333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
}


header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#fff;
  text-transform: uppercase;
}

header .logo span{
  color:var(--orange);
}

header .navbar a{
  color:#fff;
  font-size: 2rem;
  margin:0 1rem;
 
}

/* header .navbar a:hover{
  color:var(--orange);
} */

header .icons i{
  font-size: 2.5rem;
  color:#fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover{
  color:var(--orange);
}

header .search-bar-container{
  position: absolute;
  top:100%; left: 0; right:0;
  padding:1.5rem 2rem;
  background:#333;
  border-top: .1rem solid rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
  width:100%;
  padding:1rem;
  text-transform: none;
  color:#333;
  font-size: 1.7rem;
  border-radius: .5rem;
}

header .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover{
  color:var(--orange);
}
	
.hovereffects{
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   margin-bottom: 10px;
}

.hovereffects .overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out
}

.hovereffects img{
	display: block;
	position: relative;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

.hovereffects h2{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	background: rgba(0,0,0,0.6);
	-webkit-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 10px;
}

.hovereffects a.info{
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	border:1px solid #fff;
	background-color: transparent;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	margin: 50px 0 0;
	padding: 14px 14px;
}

.hovereffects a.info:hover{
	box-shadow: 0 0 5px #fff;

}

.hovereffects:hover img{
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.hovereffects:hover .overlay{
	opacity: 1;
	filter: alpha(opacity=100);
}

.hovereffects:hover h2, .hovereffects:hover a.info{
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.hovereffects:hover a.info{
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}
body{
	background-color: grey;
	background-size: cover;
}

</style>


<body>

	<header>

		<div id="menu-bar" class="fas fa-bars"></div>
	
		<a href="#" class="logo"><span></span>DELIGHTED ABODE</a>
	
		<nav class="navbar">
			<a href="./">Home</a>
			<a href="./plan">plan</a>
			<a href="./Destination">Destinations</a>

			{{!-- <a href="gallery.html">gallery</a> --}}
			<a href="./login">User Space</a>

		</nav>

		
	
    <div class="icons">
       <a href="/auth/google">
        <i class="fas fa-user" id="login-btn"></i>
        </a>
    </div>
	
	</header>
	<br>
	<br>
	
<h2 class="text-center" style="font-family: monospace;"></h2>
<br><br>
<div class="container">
<div class="row">

<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/TV.jpg" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>Trivandrum</h2>
			<a class="info" href="/destination/tvm">more info</a>
		</div>
	</div>

</div>


<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/kollam.jpg" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>Kollam</h2>
			<a class="info" href="/destination/kollam">more info</a>
		</div>
	</div>

</div>




<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/alappuzha.jpg" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>Alappuzha</h2>
			<a class="info" href="/destination/alappuzha">more info</a>
		</div>
	</div>
	</div>



<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/patham.jpg" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>Pathanamthitta</h2>
			<a class="info" href="/destination/pathanamthitta">more info</a>
		</div>
	</div>

</div>



<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/kottayam.webp" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>Kottayam</h2>
			<a class="info" href="/destination/kottayam">more info</a>
		</div>
	</div>

</div>



<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/idukki.jpg" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>Idukki</h2>
			<a class="info" href="/destination/idukki">more info</a>
		</div>
	</div>

</div>
<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/ernakulam.jpg" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>Ernakulam</h2>
			<a class="info" href="/destination/ernakulam">more info</a>
		</div>
	</div>

</div>
<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/Thrissur (1).jpg" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>Thrissur</h2>
			<a class="info" href="/destination/thrissur">more info</a>
		</div>
	</div>

</div>
<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/PALAKKAD1.jpg" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>palakkad</h2>
			<a class="info" href="/destination/palakkad">more info</a>
		</div>
	</div>

</div>
<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/malapuram.jpg" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>Malappuram</h2>
			<a class="info" href="/destination/malappuram">more info</a>
		</div>
	</div>

</div>
<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/kozhikode.jpg" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>kozhikode</h2>
			
			<a class="info" href="/destination/kozhikode">more info</a>
		</div>
	</div>

</div>
<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/wayanad.jpg" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>Wayanad</h2>
			<a class="info" href="/destination/wayanad">more info</a>
		</div>
	</div>

</div>
<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/kannur.jpg" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>Kannur</h2>
			<a class="info" href="/destination/kannur">more info</a>
		</div>
	</div>

</div>
<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="hovereffects">
		<img src="images/kasargode.jpg" height="300px" width="100%" alt="images">
		<div class="overlay">
			<h2>kasaragode</h2>
			<a class="info" href="/destination/kasargod">more info</a>
		</div>
	</div>

</div>









</div>
</div>





</body>
</html>