
<h3><i class="fas fa-atom"></i> Share Your Travel Experiences</h3>
<div class="section">
   
    <p class="lead"> You can use this as an outlet to speak about your traveling. If you dedicate your time to this, you can even get people following you and enjoying your stories along with adventures.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn brown darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>

