<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELIGHTED ABODE</title>

  
    
<body>

    <header>
        
        <div id="menu-bar" class="fas fa-bars"></div>
    
        <!-- <a href="#" class="logo"><span>T</span>ravel</a> -->
    
    
        <nav class="navbar">
            <a href="index.html">home</a>
            <!-- <a href="#trip plan">Trip Plan</a> -->
            <!-- <a href="#packages">packages</a> -->
            <!-- <a href="#services">services</a> -->
            <a href="destination.html">Destination</a>
            <!-- <a href="#review">review</a> -->
            <!-- <a href="#contact">contact</a> -->
        </nav>
    </header>
        <!-- <div class="icons">
            <!-- <i class="fas fa-search" id="search-btn"></i> -->
            <!-- <i class="fas fa-user" id="login-btn"></i> -->
        </div> -->
        <br>
        <section class="book" id="book">

            <h1 class="heading">
                <span>T</span>
                <span>R</span>
                <span>I</span>
                <span>P</span>
                <span class="space"></span>
                <span>P</span>
                <span>L</span>
                <span>A</span>
                <span>N</span>
            </h1>
        
            <div class="row">
        
                <div class="image">
                    <img src="images/book-img.svg" alt="">
                </div> 
        
                <form id="Form">
                    <h2>Flanked by the Arabian Sea in the West, the towering Western Ghats in the East and networked by 44 interconnected rivers, Kerala is blessed with a unique set of geographical features that have made it one of the most sought after tourist destinations in Asia. A long shoreline with serene beaches, tranquil stretches of backwaters, lush hill stations and exotic wildlife, are just a few of the wonders that await you once you crossover to the other side. And what's more, each of these charming destinations is only a two hour drive from the other - a singular advantage no other place on the planet can offer.Choose your destination,Lets see some plans we offers you...</h2>
                    <div class="inputBox">
                        <h3>Select destination</h3>
                        <select  onchange="location = this.value;">
                            <option value="">destination</option>
                            <option value="/plan/Kozhikode">Kozhikode</option>
                            <option value="/plan/kannur">Kannur</option>
                            <option value="/plan/tvm">Thrivanthapuram</option>
                            <option value="/plan/thrissur">Thrissur</option>
                            <option value="/plan/pathanamthitta">Pathanamthitta</option>
                            <option value="/plan/palakkad">Palakkad</option>
                            <option value="/plan/malappuram">Malappuram</option>
                            <option value="/plan/kottayam">Kottayam</option>
                            <option value="/plan/kollam">Kollam</option>
                            <option value="/plan/kasargod">kasargod</option>
            
                            <option value="/plan/ernakulam">Ernakulam</option>
                            <option value="/plan/alappuzha">Alappuzha</option>
                            <option value="/plan/idukki">Idukki</option>
                            <option value="/plan/alappuzha">Alappuzha</option>
                        </select>
                    </div>
                   
                    
                </form>
            </div>
        
        </section>
</body>
</html>