PORT = 3000
MONGO_URI = mongodb+srv://Nithi018:Nithi018@cluster0.70ijq5g.mongodb.net/?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 362722060247-l0o0papi792g1rsmvnb7qb4bsc6suoc3.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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